@charset "UTF-8"; /*文字化け防ぐ */
/* ユーザーの設定した文字サイズを正しく反映 */
/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans JP', sans-serif;/*書体指定*/
    line-height: normal;/*行の高さ指定*/
    color: #000;/*色指定*/
}
a{
    text-decoration: underline;/*aタグ傍線指定*/
}
img{
    max-width: 100%;/*画像の大きさ指定*/
}
.wrapper{
    max-width: 1120px;
    margin: auto;
    padding: 0 2rem;
}

.align-center{
    text-align: center;/*文字が真ん中にくる*/
}
.font-english{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*フォント指定*/
}
/* ヘッダー設定 */
.page-header{
    padding-top: 1rem;/*上の余白指定*/
}
.header{
    font-size: 3rem;/*h1の文字サイズとカラー*/
    color: #fa0900;
}
.main-nav{
    display: flex;/*横並び指定*/
    justify-content: center;/*真ん中に指定*/
    gap: 2.5rem;/*3メニューの間余白設定*/
    font-size: 1.5rem;
    list-style-type: disc;/*リストマーカーの種類*/
}
.main-nav a{
    color: #000;
}
.main-nav a:hover/*マウスのポインタを重ねた時に実行される擬似クラス*/{
    color: #0015fa;
}


/* 背景画像の設定 */
.cover{
    background-size: cover;
    background-position: center;
    height: 400px;
}
.cover-home{
    background-image: url(../images/sea.JPG);
}